<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>젝트 이메일 인증 코드 안내</title>
</head>
<body style="margin: 0; padding: 12px; background-color: #f7f5ff; font-family: 'Pretendard Variable', sans-serif; text-align: center; font-size: 16px; color: #3a3b43;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f7f5ff; min-width: 320px;">
    <tr>
        <td align="center">
            <table width="560" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; padding: 32px 24px; box-sizing: border-box; max-width: 560px; min-width: 256px; text-align: center;">
                <!-- 로고 -->
                <tr>
                    <td style="padding-bottom: 48px;" align="center">
                        <img src="https://ject-content.s3.ap-northeast-2.amazonaws.com/1stjeckathon/ject_logo_email_code.png" alt="젝트 로고" style="max-width: 100%; height: auto;">
                    </td>
                </tr>
                <!-- 타이틀 -->
                <tr>
                    <td style="font-size: 25px; color: #1a1b23; font-weight: 600; line-height: 140%; letter-spacing: -0.01em;" align="center">
                        젝트 이메일 인증 코드 안내
                    </td>
                </tr>
                <!-- 설명 -->
                <tr>
                    <td style="padding-top: 32px; padding-bottom: 45px; font-size: 16px; color: #3a3b43; line-height: 160%;" align="center">
                        이메일 인증을 위해 요청하신 코드는 다음과 같아요.
                    </td>
                </tr>
                <!-- 인증 코드 -->
                <tr>
                    <td style="padding-top: 32px; padding-bottom: 16px; background-color: rgba(161, 162, 255, 0.08); font-size: 32px; color: #302dbe;" align="center">
                        <div style="font-weight: 600; letter-spacing: -0.01em; line-height: 140%;" th:text="${value}"></div>
                    </td>
                </tr>
                <!-- 안내 -->
                <tr>
                    <td style="padding-top: 45px; font-size: 16px; color: #3a3b43; line-height: 160%;" align="center">
                        이 코드를 타인과 공유하지 마세요.<br>
                        만일 인증 코드를 요청하지 않으셨다면, 이 이메일을 무시해주세요.
                    </td>
                </tr>
                <!-- 감사 인사 -->
                <tr>
                    <td style="padding-top: 32px; font-size: 16px; color: #3a3b43; line-height: 160%;" align="center">
                        감사합니다.
                    </td>
                </tr>
                <!-- 푸터 -->
                <tr>
                    <td style="padding-top: 32px; font-size: 15px; color: #3a3b43; line-height: 160%;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td align="left">젝트 운영진 드림</td>
                                <td align="right" style="color: #2473e6; text-decoration: underline;">ject.kr</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
