<!DOCTYPE html>

<html lang="ko" xmlns:th ="http://www.thymeleaf.org">
<body><img
        src='https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/471970303_18254051023275582_6103452474397798501_n.jpg?stp=dst-jpg_e35_s1080x1080_sh0.08_tt6&_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=BrPR5Li-ibAQ7kNvgE2G-xJ&_nc_gid=348e26554c954a0594a011e1587769d7&edm=ANTKIIoBAAAA&ccb=7-5&oh=00_AYB0rtEAiBlSZ5zDeM_XvexDZ4nu4gGZvi6YgKaCNFenTQ&oe=679BB04F&_nc_sid=d885a2' alt="cat">
<h1>안녕하세요! <span th:text="${to}"/>님</h1>
    <p>이메일 인증을 위해 아래 링크를 클릭해주세요.</p>
    <p>from <span th:text="${value}"/></p>

</body>
</html>
